:root {
    /* Primary Colors */
    --darkBlueIntroEmailSignUp: hsl(217, 28%, 15%);
    --darkBlueMain: hsl(218, 28%, 13%);
    --darkBlueFooter: hsl(216, 53%, 9%);
    --darkBlueTestimonials: hsl(219, 30%, 18%);
    /* Accent Colors */
    --cyanCTA: hsl(176, 68%, 64%);
    --blueCTA: hsl(198, 60%, 50%);
    --lightRedCTA: hsl(0, 100%, 63%);
    /* Neutral Color */
    --whiteText: hsl(0, 0%, 100%);
    /* Typography  */
    --fontFamilyOpenSans: 'Open Sans', sans-serif;
    --fontFamilyRaleway: 'Raleway', sans-serif;
    --fontWeightRegular: 400;
    --fontWeightBold: 700;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--whiteText);
    font-family: var(--fontFamilyOpenSans);
    font-size: 0.875rem;
    font-weight: var(--fontWeightRegular);
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: var(--fontFamilyRaleway);
    font-weight: var(--fontWeightBold);
    opacity: 0.9;
}

p {
    font-size: 0.75rem;
    opacity: 0.7;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

.fylo-landing-page {
    background-color: var(--darkBlueMain);
    max-width: 100vw;
}

/* Header Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem;
}

.navbar__img {
    display: block;
    width: 4.5625rem;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fontFamilyRaleway);
    font-size: 0.65625rem;
    opacity: 0.65;
}

.nav-links li:last-child {
    margin-right: 0.15rem;
}

.nav-links__item {
    margin-left: 1.55rem;
}

/* Main Styles */

main {
    padding: 2rem 1.125rem 1.125rem;
}

.intro,
.perks,
.add-info {
    padding: 0 0.5rem;
}

.intro,
.perks {
    text-align: center;
}

.intro__img,
.add-info__img {
    display: block;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

/* Main Intro Section Styles */

.intro__img {
    width: 90%;
}

.intro__heading {
    margin-top: 2.5rem;
}

.intro__paragraph {
    margin-top: 1.25rem;
    font-size: 0.75rem;
    padding: 0 1rem;
}

.intro__button {
    background-image: linear-gradient(to right, var(--cyanCTA), var(--blueCTA));
    border-radius: 3.125rem;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0.5px;
    display: inline-block;
    font-family: var(--fontFamilyRaleway);
    font-weight: var(--fontWeightBold);
    font-size: 0.78125rem;
    margin-top: 1.875rem;
    opacity: 0.9;
    padding: 0.75rem 4.375rem;
}

/* Main Perks Section Styles */

.perks {
    margin-top: 3.05rem;
}

.perks__item {
    margin-top: 80px;
}

.perks__list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.perks__icon {
    display: block;
    margin: 0 auto;
}

.perks__icon-desktop {
    width: 59px;
    height: auto;
}

.perks__icon-shield {
    width: 48px;
    height: auto;
}

.perks__icon-collab {
    width: 63px;
    height: auto;
}

.perks__icon-folders {
    width: 65px;
}

.perks__heading {
    margin-top: 25px;
    margin-bottom: 8px;
}

.perks__paragraph {
    padding: 0 0.5458rem;
}

/* Main Additional Information Styles */

.add-info {
    margin-top: 130px;
}

.add-info__img {
    width: 89%;
    height: auto;
}

.add-info__heading {
    font-size: 1rem;
    padding-top: 3rem;
}

.add-info__paragraph {
    margin-top: 1rem;
}

.add-info__link {
    color: var(--cyanCTA);
    display: inline-block;
    border-bottom: 1px solid rgba(101, 226, 217, 0.7);
    margin-top: 1.15rem;
    max-width: 100%;
    padding-bottom: 0.27rem;
}

.add-info__link:hover {
    color: var(--whiteText);
    border-color: rgba(255, 255, 255, 0.7);
}

.add-info__link p {
    font-size: 0.6875rem;
    opacity: unset;
}

.add-info__link span {
    opacity: 0.7;
}

.fa-arrow-circle-right {
    margin-left: 0.25rem;
}

/* Main Testimonials Styles */

.testimonials {
    background-image: url("../images/bg-quotes.png");
    background-position: 30px 7px;
    background-repeat: no-repeat;
    background-size: 20px 16px;
    margin-top: 132px;
}

.testimonials__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    line-height: 1.8;
}

.testimonials__list p {
    font-size: 9px;
}

.testimonials__item {
    background-color: var(--darkBlueTestimonials);
    border-radius: 3px;
    margin: 22px 25px 0px;
    padding: 22px 18px 14px;
}

.testimonials__user {
    display: flex;
    line-height: 1.6;
    margin-top: 15px;
}

.testimonials__user-img {
    width: 24px;
    height: auto;
    border-radius: 50%;
}

.testimonials__user-info {
    line-height: 1.8;
    margin-left: 0.5rem;
}

.testimonials__user-info p:last-child {
    letter-spacing: 1px;
    font-size: 5.5px;
}

.testimonials__user-name {
    letter-spacing: 1px;
    font-weight: var(--fontWeightBold);
}

/* Main Call-To-Action Styles */

.cta {
    background-color: var(--darkBlueIntroEmailSignUp);
    margin-top: 9rem;
    padding: 36px 25px 39.5px;
    text-align: center;
    position: relative;
}

.cta__description {
    line-height: 1.55;
    margin-top: 0.85rem;
    padding: 0 0.1543rem;
}

.cta__email-input {
    all: unset;
    box-sizing: border-box;
    color: var(--darkBlueIntroEmailSignUp);
    display: inline-block;
    background-color: var(--whiteText);
    border: 2px solid var(--whiteText);
    border-radius: 3.125rem;
    font-family: var(--fontFamilyOpenSans);
    font-size: 0.75rem;
    width: 100%;
    height: 42px;
    margin-top: 2rem;
    padding: 0 1.8rem;
    text-align: left;
}

.cta__email-input::placeholder {
    font-size: 9px;
    opacity: 0.4;
}

.cta__email-input:hover,
.cta__email-input:focus {
    border-color: var(--cyanCTA);
}

.cta__email-button {
    all: unset;
    display: inline-block;
    background-image: linear-gradient(to right, var(--cyanCTA), var(--blueCTA));
    border-radius: 3.125rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--fontFamilyRaleway);
    font-size: 0.75rem;
    font-weight: var(--fontWeightBold);
    margin-top: 21px;
    width: 100%;
    height: 42px;
}

.cta__error-message {
    position: absolute;
    left: 0;
    right: 0;
    color: var(--lightRedCTA);
    font-size: 0.7rem;
    font-weight: var(--fontWeightBold);
    margin-top: 0.4rem;
}


/* Footer */

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}